USE [master]
GO
/****** Object:  Database [GENUX]    Script Date: 14/12/2025 13:13:59 ******/
CREATE DATABASE [GENUX]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GENUX', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBSERVER\MSSQL\DATA\GENUX.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GENUX_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DBSERVER\MSSQL\DATA\GENUX_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GENUX].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GENUX]
GO
/****** Object:  User [Any]    Script Date: 14/12/2025 13:13:59 ******/
CREATE USER [Any] FOR LOGIN [Any] WITH DEFAULT_SCHEMA=[Any]
GO
/****** Object:  Schema [Any]    Script Date: 14/12/2025 13:13:59 ******/
CREATE SCHEMA [Any]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 14/12/2025 13:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 14/12/2025 13:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IdVenta] [bigint] IDENTITY(1,1) NOT NULL,
	[IdCliente] [bigint] NOT NULL,
	[IdProducto] [bigint] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL,
	[Total] [float] NOT NULL,
	[FechaVenta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 14/12/2025 13:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IdProducto] [bigint] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Detalle] [varchar](200) NOT NULL,
	[Monto] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_VentasGenux]    Script Date: 14/12/2025 13:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[v_VentasGenux]
AS
SELECT
v.IdVenta,
p.Nombre as Producto,
v.IdProducto,
c.Nombre as Cliente,
v.IdCliente,
Cantidad,
PrecioUnitario,
Total,
FechaVenta
FROM dbo.Ventas v 
INNER JOIN dbo.Productos p ON v.IdProducto = p.IdProducto
INNER JOIN dbo.Clientes c  ON v.IdCliente  = c.IdCliente

 
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 14/12/2025 13:13:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[IdEmpresa] [bigint] IDENTITY(1,1) NOT NULL,
	[RazonSocial] [varchar](100) NOT NULL,
	[RUC] [varchar](20) NOT NULL,
	[Pais] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ('El Salvador') FOR [Pais]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0.0)) FOR [Monto]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
USE [master]
GO
